.l-options-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 64px;
    grid-template-columns: repeat(auto-fit, 320px);
    
    @include respond-to('xlarge') {
        gap: 16px;
        grid-template-columns: repeat(auto-fit, 288px);
    }

    @include respond-to('large') {
        display: flex;
        justify-content: flex-start;
    
        .c-option-card {
            min-width: 288px;

            &.-active {
                cursor: grabbing;
                cursor: -webkit-grabbing;
                cursor: -moz-grabbing;
            }
        }
    }

    .c-option-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        padding: 48px 32px 40px 32px;

        .active, .inactive {
            margin-bottom: 14px;
        }

        .price {
            display: inline-block;
            margin-top: 18px;
        }
    }
}