.l-options-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 64px;
    grid-template-columns: repeat(auto-fit, 320px);

    .c-option-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        padding: 48px 32px 40px 32px;

        .active, .inactive {
            margin-bottom: 14px;
        }

        .price {
            display: inline-block;
            margin-top: 18px;
        }
    }
}