.l-order-customizer {
    padding: 115px 0;

    .c-menu-section {

        .c-strong-title {

            &,
            &+.text {
                padding: 0 1rem;
            }

            margin-bottom: 4px;
        }

        .c-grabbing-scroller {
            margin-top: 47px;

            .l-options-list {
                padding: 0 16px 12px 16px;
                margin-bottom: 12px;
            }

            .controls {
                display: none;
                
                @include respond-to('large') {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                }
            }
        }

        &+.c-menu-section {
            margin-top: 96px;
        }

    }

    .c-click-button {
        margin: auto;
        margin-top: 80px;
        min-width: 213px;
    }

    @include respond-to('large') {
        padding: 40px 0;

        .c-menu-section {
            &+.c-menu-section {
                margin-top: 62px;
            }

            .c-strong-title {
                margin-bottom: 16px;
            }
            .c-grabbing-scroller {
                margin-top: 32px;
            }
        }

        .c-click-button {
            margin-top: 48px;
        }

        
    }
}