.l-success-section {
    .c-success-feedback {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 5fr 7fr;

        .result, .order {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
        }

        .result {
            .c-brand-logo {
                align-self: flex-start;            
            }

            .wrapper {
                margin: auto;
            }
        }

        .order {
            justify-content: center;

            .icon {
                margin-bottom: 18px;
            }

            .heading {
                margin-bottom: 15px;
            }

            .c-strong-title {
                margin-bottom: 4px;
            }

            .text {
                margin-bottom: 32px;
            }

            .c-click-button {
                min-width: 235px;
            }
        }
    }
}