.l-success-section {
    .c-success-container {
        display: grid;
        grid-template-columns: 5fr 7fr;
        
        .image {
            max-width: 354px;
            width: 100%;
        }
        
        .result, .order {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            align-items: center;
            padding: 40px;
        }

        .result {
            .c-brand-logo {
                align-self: flex-start;            
            }

            .wrapper {
                margin: auto;
            }
        }

        .order {
            justify-content: center;

            .icon {
                width: 65.46px;
                margin-bottom: 18px;
            }

            .heading {
                margin-bottom: 15px;
            }

            .c-strong-title {
                margin-bottom: 4px;
            }

            .text {
                margin-bottom: 32px;
            }

            .c-click-button {
                min-width: 235px;
            }
        }
    }

    @include  respond-to('medium') {
        .c-success-container {
            grid-template-columns: 1fr;

            .order {
                .c-strong-title {
                    margin-bottom: 24px;
                }

                .text {
                    margin-bottom: 24px;
                }
            }
        }
    }
}