.u-text-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.u-text-center {
  text-align: center;
}

// Generate utility text color classes dynamically
@each $name, $color in $all-colors {
  .u-text-#{$name} {
    color: $color;
  }
}