// Primary Palette
$color-primary: #1820EF;
$color-primary-dark: darken($color-primary, 20%);

// Secondary Palette
$color-secondary: #FF4E42;
$color-secondary-dark: darken($color-secondary, 20%);

// Accent Colors
$color-accent: #FFC024;
$color-accent-dark: darken($color-accent, 20%);

// Neutral Palette
$color-dark: #000000;
$color-light: #FAFAED;
$color-gray: #C5C5C5;